@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ECECEC;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background-color: #006494;
}

.topnav a {
  text-transform: uppercase;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none !important;
  font-size: 17px;
  border-bottom: 3px solid #006494;
}

.topnav a:hover {
  color: white;
  border-bottom: 3px solid #67BF77;
}

.topnav a.active {
  color: #67BF77;
}

.topnav .icon {
  display: none;
}


.container{
  margin: auto;
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100%;
}

.container p{
  text-align: start;
}

hr{
  color: #67BF77;
}

h3{
  padding: 15px 0;
}

.title{
  color: #A7BCDB;
  font-size: 40px;
}

.noticias{
  display: flex;
  margin-top: 20px;
}

footer{
  background-color: #006494;
  text-align: center;
  padding: 15px;

}


footer a{
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  margin: 5px;

}

footer a:hover {
  color: white;
  border-bottom: 3px solid #67BF77;
}

.btn1{
  background-color: #006494;
  width: 150px;
  padding: 15px;
  border-radius: 25px;
  border: none;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  box-shadow: 5px 5px 20px gray;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 30px;
  text-decoration: none;
}

.btn1::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: auto;
  width: 100%;
  height: 0%;
  background-color: #fff;
  opacity: 1;
  z-index: -1;
  transition: 0.8s;
}



.wave:hover {
  color: #247BA0;
  border: none;
}

.wave::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.wave:hover::before{
  height: 190%;
}

.video{
  width: 300px;
  height: 150px;
  margin: auto;
}

.fotoPergunta{
  display: none;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  margin-left: 15px;
  margin-top: 15px;
}

.timer{
  display: none;
  background-color: #006494;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  line-height: 70px;
}

#infoContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.respostas{
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  display: none;
}


#rep1{
  height: 100px;
  background-color: rgb(255, 0, 0);
  color: white;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  padding: 15px 0;
}
#rep2{
  height: 100px;
  background-color: rgb(0, 4, 255);
  color: white;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  padding: 15px 0;
}
#rep3{
  height: 100px;
  background-color: rgb(42, 180, 0);
  color: white;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  padding: 15px 0;
}
#rep4{
  height: 100px;
  background-color: rgb(255, 174, 0);
  color: white;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  padding: 15px 0;
}

.pergunta{
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  display: none;
}

.pergunta img{
  height: 50px;
}


#subBtn{
  border: none;
  border-radius: 5px;
  color: #006494;
  background-color: #fff;
  width: 150px;
  margin: 10px 0;
  padding: 10px;
}

#subBtn:hover{
  cursor: pointer;
}


#lojaContainer{
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 20px auto;
  height: 100%;
}

.produto{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
}

.produto img{
  flex-grow: 1;
  width: 100%;
}

.produto h4{
  color: #006494;
}

.preco{
  display: flex;
  align-items: center;
}

.preco img{
  width: 40px;
}

.aprenderContainer{
  padding: 20px;
  text-align: center;
}

.aprenderContainer p{
  text-align: start;
}

.aprenderContainer iframe{
  margin: auto;
  width: 100%;
  height: 150px;
}

.aprenderContainer img{
  width: 270px;
  height: 150px;
  margin: 5px;
}



.aboutContainer{
  margin: 20px;
}

.membrosContainer{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin: 10px;
}

.membro{
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.membro .nome{
  color: #247BA0;
  text-transform: uppercase;
}

.membro img{
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 8px;
}


#aboutTitle{
  color: #A7BCDB;
  text-transform: uppercase;
  text-align: center;
}

#score{
  display: none;
}

#final{
  display: none;
}


.campo{
  margin-bottom: 1em;
}

.campo label{
  margin-bottom: 0.2em;
  color: #006494;
  display: block;
  font-size: 20px;
}

.campo input{
  margin: auto;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
  padding: 0.2em;
  border: 1px solid #006494;
  box-shadow: 5px 5px 20px gray;
  display: block;
  margin: auto;
}


.campo select option{
  padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
  background: #ECECEC;
}


#texto{
  width: 40%;
  height: 100px;
}

#subtitulo{
  padding: 10px;
  font-weight: bold;
  color: #006494;
  font-size: large;
  text-align: center;
}

.grupo{
  color: #006494;
}

.curiosidades{
  display: flex;
  flex-direction: column;
}

.curiosidade{
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  background-color: #fff;
}

.curiosidade p{
  color: #006494;
  text-align: center;
}

.curiosidade img{
  margin: 10px;
  border-radius: 10px;
  width: 80%;
}

.paragraph{
  text-align: justify;
  text-justify: inter-word;
}

.descricao{
  color: #247BA0;
  text-transform: uppercase
}

.redes ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

#tejo{
  width: 50%;
  margin: auto;
}

#tejo img{
  width: 100%;
}

.backTop{
  text-decoration: none;
  color: #006494;
}

.partnersContainer{
  margin: 20px;
}

#partnersTitle{
  color: #A7BCDB;
  text-transform: uppercase;
  text-align: center;
}

.parceirosContainer{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.parceirosTitle{
  color: #A7BCDB;
  text-align: center;
}

.parceiros{
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 5px 5px 20px gray;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parceiros p{
  flex-grow: 1;
}

.parceiros .nome{
  color: #247BA0;
  text-transform: uppercase;
}

.parceiros .pais{
  color: #247BA0;
  text-transform: uppercase;
  font-size: 75%;
}

.parceiros img{
  width: 100%;
  border-radius: 50%;
}

#certo{
  display: none;
}

#errado{
  display: none;
}

.respostaCerta{
  padding: 20px;
  background-color: green;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
  margin-bottom: 20px;
}

.respostaErrada{
  padding: 20px;
  background-color: red;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
  margin-bottom: 20px;
}

#next{
  cursor: pointer;
}

#back{
  cursor: pointer;
  width: 48px;
}

/******** TABELA ***************/

.containerTable > header {
	margin: 0 auto;
	padding: 1em;
	text-align: center;
}

.containerTable > header h1 {
  font-weight: 600;
	font-size: 3em;
	margin: 0;
}

.wrapper {
	line-height: 1.5em;
	margin: 0 auto;
	padding: 2em 0 3em;
	width: 90%;
	max-width: 2000px;
	overflow: hidden;
}

table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}

th {
    background-color: #006494;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

td, th {
    padding: 0.2% 1%;
    text-align: left;
}

tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: rgba(50,98,149,.3);
}

/* --------- TABLET --------- */
@media (min-width: 600px) {
  .produto{
    width: 180px;
    height: 300px;
  }

  .membrosContainer{
    flex-direction: row;
  }

  .aprenderContainer iframe{
    height: 370px;
  }

  .pergunta{
    margin: 0 30px;
  }

  td, th {
    padding: 1em 1.5em;
    text-align: left;
  }

  .produto{
    margin: 10px;
  }
  
  .produto img{
    max-height: 169.47px;
    flex-grow: 1;
    width: 100%;
  }

  #tejo img{
    height: 300px;
  }

  .parceirosContainer{
    flex-direction: row;
    align-items: unset;
  }

  .parceiros img{
    width: 70%;
  }

  .membro img{
    height: 30%;
  }
}


/* --------- LAPTOP --------- */
@media (min-width: 800px) {
  
  .video{
    width: min-content;
    height: 300px;
    margin: auto;
  }

  .fotoPergunta{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-left: 85px;
    margin-top: 45px;
  }
  
  .timer{
    background-color: #006494;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    width: 90px;
    height: 90px;
    margin-right: 40px;
    line-height: 90px;
  }


  #subBtn{
    width: 250px;
  }
  
  .produto{
    width: 230px;
    height: 350px;
  }

  .membrosContainer{
    flex-direction: row;
  }

  .aprenderContainer iframe{
    width: 50%;
  }

  .curiosidades{
    display: grid;
    grid-template-columns: auto auto;
  }

  .curiosidade img{
    height: 200px;
    width: 320px;
  }

  #lista{
    display: grid;
    grid-template-columns: auto auto;
  }

  #rep1{
    line-height: 100px;
    padding: 0;
  }
  #rep2{
    line-height: 100px;
    padding: 0;
  }
  #rep3{
    line-height: 100px;
    padding: 0;
  }
  #rep4{
    line-height: 100px;
    padding: 0;
  }

  #indexDesc{
    padding: 20px;
  }

  .membro img{
    height: 40%;
  }
}

/*********** HAMBURGUER MENU **********/

@media screen and (max-width: 760px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav a.icon img{
    width: 20px;
  }
}

@media screen and (max-width: 760px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.time{
  text-align: center;
}

/* TIMELINE*/

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}


.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}


.containerTime{
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.containerTime::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #006494;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}


.right {
  left: 50%;
}

.left::before {
  /*content: " ";*/
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}


.right::before {
  /*content: " ";*/
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}


.right::after {
  left: -16px;
}


.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.content img{
  width: 60%;
}

.content h3{
  font-weight: bold;
  color: #006494;
  padding: 0;
  font-size: 20px;

}
.content h2{
  font-weight: bold;
  color: #006494;
  padding: 0;
}


@media screen and (max-width: 600px) {

  .content img{
    width: 60%;
  }

  .timeline::after {
  left: 31px;
  }
  
  .containerTime {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  .containerTime::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
  left: 15px;
  }
  
  .right {
  left: 0%;
  }
}



/* css como ajudar */

.containerCarousel{
  min-height: 100%;
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
}

.carousel-inner img{
  border: 3px solid #006494;
  height: 200px !important;
  margin: auto !important;
}

.item h3{
  font-size: 200%;
  text-align: center;
  color: #006494;
  margin-top: auto;
}

.item p{
  font-size: 150%;
  text-align: center;
  color: #006494;
}

.containerJogo{
  width: 50%;
  margin: auto;
  margin-bottom: 90px;
}

.carousel-control.right {
  background-image: none !important;
}

.carousel-control.left{
  background-image: none !important;
}

.carousel-indicators{
  opacity: 0% !important;
}


 
/**/ 